service bluetooth-1-0 /vendor/bin/hw/android.hardware.bluetooth@1.0-service.mtk
    interface android.hardware.bluetooth@1.0::IBluetoothHci default
    class hal
    user bluetooth
    group bluetooth
    capabilities SYS_NICE
    writepid /dev/stune/foreground/tasks
